*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #3E432E;
    --secundary: #616F39;
    --terciary: #A7D129;
    --dark-light: #222222;
    --dark: #050505;
    --white: #ffffff;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: var(--secundary);
}

header {
    background-color: var(--dark);
    
    /*Menú fijo*/
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 7px 0;
    /*sombra*/
    -webkit-box-shadow: 0px 5px 7px 0px rgba(92,78,92,0.12);
    -moz-box-shadow: 0px 5px 7px 0px rgba(92,78,92,0.12);
     box-shadow: 0px 5px 7px 0px rgba(92,78,92,0.12);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
}

.navbar ul {
    display: flex;
    list-style: none;
    height: 40px;
}

.navbar ul li {
    padding-top: 8px;
    transition: transform 0.4s ease-in-out;
}

.navbar ul li:hover{
    transform: scale(1.2);
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: var(--secundary);
    margin: 20px;
}

.navbar a:hover{
    color: var(--terciary);
}

.hero {
    background-color: var(--dark);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.65;
}




/*Profile*/

.information div {
    position: absolute;
}

.information {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    background-color: var(--dark);
    opacity: 0.7;
    z-index: 10;
    top: 100px;
}

.circle-light {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 120px;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 500px;
    border: solid 15px var(--terciary);
    z-index: 21;
    top: 150px;
}

.profile-img {
    top: 164px;
    z-index: 20;
}

.profile-img img {
    width: 200px;
    height: 203px;
    border-radius: 70px;
}

.profile-name {
    font-size: 1.9rem;
    color: var(--secundary);
    top: 418px;
    z-index: 11;
}

.profile-studies {
    font-size: 1rem;
    color: var(--secundary);
    top: 448px;
    padding-top: 10px;
    z-index: 11;
}

.profile-studies span {
    color: var(--terciary);
}

.contact-icon {
    top: 490px;
    z-index: 11;
}
.contact-icon img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.2s ease-in;
}

.contact-icon img:hover {
    transform: scale(1.2);
}

/*Portfolio*/

.portfolio {
    background-color: var(--dark-light);
    padding: 50px 0;
}

.portfolio-section h2 {
    padding: 40px;
    text-align: center;
    color: var(--white);
}

.portfolio-grid {
/*auto-fit es una función para que los elementos se creen dependiendo del tamaño de la pantalla, así evitamos los mq, responsive*/
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(290px, auto));
     gap: 15px;
     width: 90%;
     margin: 0 auto;
}

/*Propiedades iniciales de la imagen en el grid*/
.portfolio-grid img {
    width: 100%;
    border-radius: 10px;
    
    /*Le decimos que transform esta cambiando en el estado final, y le indicamos que haga una transición con el efecto y el tiempo que indicamos*/
    transition: transform 0.4s ease;
}

/*Estado final de la transición cuando se pone el mouse encima*/
.portfolio-grid img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.linea {
    background-color:black;
    height: 5px;
    border: none;
}

/*Skills*/

section.skills {
   background-color: var(--dark-light);
   padding-top: 50px;
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 110px;
}

.skill h2 {
    padding: 50px 0;
    color: var(--white);
    text-align: center;
}

.skill img {
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    justify-content: center;
    gap: 50px;
}

/*Tooltip*/

.skill h3 {
    background-color: var(--dark);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    
    /*Escondemos la posición inicial*/
    opacity: 0;
    /*Cambiamos posición del elemento h3*/
    transform: translate(0px, -100px);  /*(x,y)*/

    transition: transform 0.4s ease, opacity 0.4s ease;
}

.knowledge > div:hover h3,
.tools > div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}


/*About me*/

.about-me {
    background-color: var(--dark);
}

.about-content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 90px 0 170px;
}

.about-info p {
   font-size: 1.5rem;
   width: 90%;
   margin: auto 0;
   line-height: 2.5rem; 
   color: var(--primary);
}

.social-red {
    border-left: var(--white) 5px solid;
    padding-left: 50px;
}

.social-red img {
    width: 60px;
    margin: 10px;
    transition: transform 0.4s ease;
}

.social-red img:hover {
    transform: scale(1.2);
    opacity: .70;
}

/*footer*/

footer {
    background-color: var(--dark);
    text-align: center;
    color: var(--white);
}

footer a {
    text-decoration:none;
    color: var(--secundary);
}

footer a:hover {
    text-decoration: line-through;
    color: var(--terciary);
}


/*Modales*/

.eins-modal-content {
    max-width: 700px;
    background-color: var(--dark-light);
}

.eins-modal-preview {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
}

.eins-modal-preview img {
    width: 100%;
    height: auto;
    padding: 0 50px 20px 0; /*En sentido de las manecillas del reloj*/
}

.proyect-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
}

.eins-modal-text p {
    font-size: 1.1rem;
}

.eins-modal-text span{
    color: var(--white);
    font-weight: 700;
}

.eins-modal-textlink {
    padding: 50px 0 10px;
}

.eins-modal-textlink a {
    color: var(--secundary);
    text-decoration: none;
    margin: 5px;
}

.eins-modal-textlink a:hover {
    color: var(--terciary);
}

.eins-modal-tech img {
    width: 50px;
    height: 50px;
}

/*form*/

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form > label > input {
    background-color: var(--dark);
    border-radius: 10px;
    padding: 10px 30px;
    color: var(--terciary);
    outline: none;
    opacity: .7;
    width: 100%;
}

form > label > textarea {
    background-color: var(--dark);
    border-radius: 10px;
    padding: 40px;
    color: var(--terciary);
    outline: none;
    opacity: .7;
    width: 100%;
}

label {
    padding: 5px;
}

form > button {
    background-color: var(--secundary);
    color: var(--dark);
    border-radius: 10px;
    padding: 10px;
}

.cursor:hover {
    cursor: pointer;
}

form > button:hover {
    cursor: pointer;
    opacity: .75;
}